modules = ["python-3.11", "nodejs-20", "postgresql-16"]

[nix]
channel = "stable-25_05"
packages = ["arrow-cpp", "cairo", "ffmpeg-full", "freetype", "ghostscript", "glibcLocales", "gobject-introspection", "gtk3", "gumbo", "harfbuzz", "jbig2dec", "libjpeg_turbo", "libpq", "libyaml", "mupdf", "openjpeg", "pkg-config", "postgresql", "psmisc", "qhull", "swig", "tcl", "tk", "unzip", "vim-full", "xcbuild"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "gunicorn --bind 0.0.0.0:5000 --reuse-port --reload main:app"
waitForPort = 5000

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 5001
externalPort = 3000

[[ports]]
localPort = 8000
externalPort = 8000

[agent]
integrations = ["styling_replit:1.0.0", "github:1.0.0", "python_openai_ai_integrations:1.0.0"]

[deployment]
deploymentTarget = "cloudrun"
run = ["sh", "-c", "gunicorn --bind 0.0.0.0:5000 --reuse-port --reload main:app"]

[userenv]

[userenv.shared]
ADMIN_EMAILS = "rsmolarz@rsmolarz.com"
SENDGRID_FROM_EMAIL = "rsmolarz@medmoneyshow.com"
GOOGLE_OAUTH_CLIENT_ID = "1080725733608-23efhg2f07i7hh5hd38b03h5jfgd53eg.apps.googleusercontent.com"
FACEBOOK_REDIRECT_DOMAIN = "marketinefficiencyagents.com"
APPLE_REDIRECT_DOMAIN = "marketinefficiencyagents.com"

[userenv.production]
DEPLOYMENT_ENV = "production"
